# Default config for sway
#
# Read `man 5 sway` for a complete reference.

# styles - set the folder for your theme definition file
set $theme /usr/share/sway/themes/{{ sway_desktop_theme }}

# theme variables
include $theme/theme.conf

# user theme variable can override the global theme
# include $HOME/.config/sway/definitions.d/theme.conf

# global variables
include /etc/sway/definitions
include $HOME/.config/sway/definitions

# user variables can override global definitions
include $HOME/.config/sway/definitions.d/*.conf

include $HOME/.config/sway/inputs/*

# enable modes
include $HOME/.config/sway/modes/*

# layered-include: system defaults, then user overrides
# Order: DATADIR < SYSCONFDIR < XDG_CONFIG_HOME (later wins)
include '$(/usr/libexec/sway/layered-include "/usr/share/sway/config.d/*.conf" "/etc/sway/config.d/*.conf" "${XDG_CONFIG_HOME:-$HOME/.config}/sway/config.d/*.conf")'
