#!/usr/bin/env zsh

# system power
alias reboot="sudo shutdown -r now"
alias shutdown="sudo shutdown -h now"

# list input devices
alias lsin="sudo libinput list-devices"

alias h="history"

alias cl="tput clear && tput cup 1"

# confirm before overwriting something
alias cp="cp -i"
# confirm before overwriting something
alias mv="mv -iv"
# human-readable sizes
alias df='df -h'

# use exa for directory listing
alias br="broot"

alias ll="eza --sort=ext --long --level=2 --icons auto"
alias ls="eza -h --group-directories-first -g --icons auto"
alias llh="eza --sort=ext --long -a --level=2 --icons auto"
alias llt="eza --sort=ext --long -a --level=2 --icons auto -s modified"

# if available use bat instead of cat
if [ -x "$(command -v bat)" ]; then
  alias cat="bat -p"
fi

# mlocate
alias updatedb='sudo updatedb'
alias locate='sudo locate'

# view a file without comments `nocomment file.txt`
alias nocomment='grep -v "^\($\|#\|;;\|;\|\n\)"'

# view logs with lnav
alias checklog='sudo journalctl -r -b -o short-precise | lnav -f ~/.config/lnav/checklog.lnav'
alias taillog='sudo journalctl -f -o json | lnav -f ~/.config/lnav/checklog.lnav'

# network troubleshooting
#TODO: convert to function
#alias dig="dig +nocmd +multiline +noall +answer"
alias dig="doggo"
alias mtr="sudo mtr -t"

alias netcon="lsof -i"
alias netlog='sudo journalctl -g "iwd|Network" -f -o json | lnav'
alias networklogdebug="sudo nmcli general logging level DEBUG domains ALL"
alias networkloginfo="sudo nmcli general logging level INFO domains ALL"
alias p="gping github.com"

# paru
alias pfile="paru -Fy"
alias psearch="paru -Ss"
alias pi="paru -S --noconfirm --batchinstall"
alias pui="paru -Rdd"
alias listi="paru -Qe | awk '{ print $1 }'"
alias pup="paru -Syyuu --batchinstall"
alias paruscc="paru -Scc --noconfirm"

# git
# alias gd="git diff --name-status | grep -v D | awk '{print $2}' | fzf --preview 'git diff -- {}'"
alias gc="env GIT_EDITOR=micro git commit && gum confirm 'push changes' && git push"
alias gfp="git fetch && git pull"
alias gp="git push"
alias glog="git log --oneline --decorate --graph --all"
alias gs="gitui"

#turn off pcspkr
alias beepoff="rmmod pcspkr"

# use most when viewing man pages
alias man="PAGER='most' man "

# alias cpup="sudo cpupower -c all frequency-set -g performance"
alias cpu-max='tuned-adm profile latency-performance'
alias cpu-balanced='tuned-adm profile balanced'
alias cpu-min='tuned-adm profile laptop-battery-powersave'

# store current alsa state in a file
# load it in .xprofile
alias alsastore="alsactl store -f ~/.asound.state"

# turn off monitors
alias monitoroff="xset dpms force off"

# shortcut for ranger
alias ra="ranger"

# download
alias dl="aria2c"
alias curl="curlie"

alias duf="sudo duf"
alias top="sudo btm --enable_cache_memory --enable_gpu_memory --process_command -n"
alias du="sudo dust -p -r -x -d 3 -n 80"
#exit
alias e="exit"

#pgrep
alias pgrep="pgrep -a"

alias checkxlog='lnav ~/.xorg.log'

alias wakebender="wol d8:d3:85:b2:dd:c5"

alias xev="xev -event keyboard"

alias dif="kitty +kitten diff"

alias login="kitty +kitten ssh"

alias mocp="mocp -T /usr/share/moc/themes/green_theme"

alias jekyll="bundle exec jekyll"
alias rake="bundle exec rake"

alias lib="cd $HOME/Library"

alias an="cd $PLAYBOOKS"

alias dla="yt-dlp -o '%(title)s.%(ext)s' -x --audio-format wav --external-downloader aria2c"

alias dlv="yt-dlp -o '%(title)s.%(ext)s' -f mp4 --external-downloader aria2c"

# open rb file in pry
alias loadpry='pry -r'

alias baudline_jack="baudline_jack -channels 4 -jack"

alias yfp="yadm fetch && yadm pull"
alias yp="yadm push"

alias yd="gitui -d $HOME/.local/share/yadm/repo.git -w $HOME --logging"
alias yc="gitui -d $HOME/.local/share/yadm/repo.git -w $HOME --logging"
alias ys="gitui -d $HOME/.local/share/yadm/repo.git -w $HOME --logging"


alias pulse_list_sources="pacmd list-sources | grep -e 'index:' -e device.string -e 'name:'"

alias vnc_serv="x11vnc -ncache_cr -display :0"

# alias changed="fd -H -t d -t f -E "*.ray-snapshots" -E "qutebrowser" -E "google-chrome" -E "*.git" -E ".cache/" -E "[Cc]ache" --changed-within 2hours | sort"

# sampler
alias soundsampler="fd -e flac -e wav -e opus -e mp3 --strip-cwd-prefix .  | fzf --preview='mpv {}' --preview-window=30% --tac --reverse -m --cycle --bind 'return:execute(play {})'"

alias samplerv2="fd -e flac -e wav -e opus -e mp3 . '/home/b08x'  | fzf --preview='mpv {}' --preview-window '~3,follow' --tac --reverse -m --cycle   --bind 'ctrl-/:toggle-preview' --bind 'return:execute(mpv {}),ctrl-y:change-preview-window(down|hidden|)'"

alias mountchroot="sudo mount --mkdir -t tmpfs -o defaults,size=8G tmpfs /mnt/chroots/arch"

alias unmountchroot="sudo umount /mnt/chroots/arch"

alias m="micro"

alias ydiff="yadm diff --staged | fabric --pattern create_git_diff_commit"
alias gdiff="git diff --staged | fabric --pattern create_git_diff_commit"

alias jq="jq -r"

alias agility_story='fabric --pattern agility_story'
alias ai='fabric --pattern ai'
alias analyze_answers='fabric --pattern analyze_answers'
alias analyze_candidates='fabric --pattern analyze_candidates'
alias analyze_cfp_submission='fabric --pattern analyze_cfp_submission'
alias analyze_claims='fabric --pattern analyze_claims'
alias analyze_comments='fabric --pattern analyze_comments'
alias analyze_debate='fabric --pattern analyze_debate'
alias analyze_email_headers='fabric --pattern analyze_email_headers'
alias analyze_incident='fabric --pattern analyze_incident'
alias analyze_interviewer_techniques='fabric --pattern analyze_interviewer_techniques'
alias analyze_logs='fabric --pattern analyze_logs'
alias analyze_malware='fabric --pattern analyze_malware'
alias analyze_military_strategy='fabric --pattern analyze_military_strategy'
alias analyze_mistakes='fabric --pattern analyze_mistakes'
alias analyze_paper='fabric --pattern analyze_paper'
alias analyze_patent='fabric --pattern analyze_patent'
alias analyze_personality='fabric --pattern analyze_personality'
alias analyze_presentation='fabric --pattern analyze_presentation'
alias analyze_product_feedback='fabric --pattern analyze_product_feedback'
alias analyze_proposition='fabric --pattern analyze_proposition'
alias analyze_prose='fabric --pattern analyze_prose'
alias analyze_prose_json='fabric --pattern analyze_prose_json'
alias analyze_prose_pinker='fabric --pattern analyze_prose_pinker'
alias analyze_risk='fabric --pattern analyze_risk'
alias analyze_sales_call='fabric --pattern analyze_sales_call'
alias analyze_spiritual_text='fabric --pattern analyze_spiritual_text'
alias analyze_tech_impact='fabric --pattern analyze_tech_impact'
alias analyze_threat_report='fabric --pattern analyze_threat_report'
alias analyze_threat_report_cmds='fabric --pattern analyze_threat_report_cmds'
alias analyze_threat_report_trends='fabric --pattern analyze_threat_report_trends'
alias ansible-role-document='fabric --pattern ansible-role-document'
alias answer_interview_question='fabric --pattern answer_interview_question'
alias ask_secure_by_design_questions='fabric --pattern ask_secure_by_design_questions'
alias ask_uncle_duke='fabric --pattern ask_uncle_duke'
alias capture_thinkers_work='fabric --pattern capture_thinkers_work'
alias check_agreement='fabric --pattern check_agreement'
alias clean_text='fabric --pattern clean_text'
alias coding_master='fabric --pattern coding_master'
alias compare_and_contrast='fabric --pattern compare_and_contrast'
alias compress_text='fabric --pattern compress_text'
alias condense_text_sfl='fabric --pattern condense_text_sfl'
alias convert_to_markdown='fabric --pattern convert_to_markdown'
alias create_5_sentence_summary='fabric --pattern create_5_sentence_summary'
alias create_academic_paper='fabric --pattern create_academic_paper'
alias create_ai_jobs_analysis='fabric --pattern create_ai_jobs_analysis'
alias create_aphorisms='fabric --pattern create_aphorisms'
alias create_art_prompt='fabric --pattern create_art_prompt'
alias create_better_frame='fabric --pattern create_better_frame'
alias create_coding_project='fabric --pattern create_coding_project'
alias create_command='fabric --pattern create_command'
alias create_cyber_summary='fabric --pattern create_cyber_summary'
alias create_design_document='fabric --pattern create_design_document'
alias create_diy='fabric --pattern create_diy'
alias create_formal_email='fabric --pattern create_formal_email'
alias create_git_diff_commit='fabric --pattern create_git_diff_commit'
alias create_graph_from_input='fabric --pattern create_graph_from_input'
alias create_hormozi_offer='fabric --pattern create_hormozi_offer'
alias create_idea_compass='fabric --pattern create_idea_compass'
alias create_investigation_visualization='fabric --pattern create_investigation_visualization'
alias create_keynote='fabric --pattern create_keynote'
alias create_loe_document='fabric --pattern create_loe_document'
alias create_logo='fabric --pattern create_logo'
alias create_markmap_visualization='fabric --pattern create_markmap_visualization'
alias create_mermaid_visualization='fabric --pattern create_mermaid_visualization'
alias create_mermaid_visualization_for_github='fabric --pattern create_mermaid_visualization_for_github'
alias create_micro_summary='fabric --pattern create_micro_summary'
alias create_network_threat_landscape='fabric --pattern create_network_threat_landscape'
alias create_newsletter_entry='fabric --pattern create_newsletter_entry'
alias create_npc='fabric --pattern create_npc'
alias create_pattern='fabric --pattern create_pattern'
alias create_prd='fabric --pattern create_prd'
alias create_prediction_block='fabric --pattern create_prediction_block'
alias create_quiz='fabric --pattern create_quiz'
alias create_reading_plan='fabric --pattern create_reading_plan'
alias create_recursive_outline='fabric --pattern create_recursive_outline'
alias create_report_finding='fabric --pattern create_report_finding'
alias create_rpg_summary='fabric --pattern create_rpg_summary'
alias create_security_update='fabric --pattern create_security_update'
alias create_show_intro='fabric --pattern create_show_intro'
alias create_sigma_rules='fabric --pattern create_sigma_rules'
alias create_story_explanation='fabric --pattern create_story_explanation'
alias create_stride_threat_model='fabric --pattern create_stride_threat_model'
alias create_summary='fabric --pattern create_summary'
alias create_tags='fabric --pattern create_tags'
alias create_threat_scenarios='fabric --pattern create_threat_scenarios'
alias create_ttrc_graph='fabric --pattern create_ttrc_graph'
alias create_ttrc_narrative='fabric --pattern create_ttrc_narrative'
alias create_upgrade_pack='fabric --pattern create_upgrade_pack'
alias create_user_story='fabric --pattern create_user_story'
alias create_video_chapters='fabric --pattern create_video_chapters'
alias create_visualization='fabric --pattern create_visualization'
alias dialog_with_socrates='fabric --pattern dialog_with_socrates'
alias enrich_blog_post='fabric --pattern enrich_blog_post'
alias explain_code='fabric --pattern explain_code'
alias explain_docs='fabric --pattern explain_docs'
alias explain_math='fabric --pattern explain_math'
alias explain_project='fabric --pattern explain_project'
alias explain_terms='fabric --pattern explain_terms'
alias export_data_as_csv='fabric --pattern export_data_as_csv'
alias extract_algorithm_update_recommendations='fabric --pattern extract_algorithm_update_recommendations'
alias extract_article_wisdom='fabric --pattern extract_article_wisdom'
alias extract_book_ideas='fabric --pattern extract_book_ideas'
alias extract_book_recommendations='fabric --pattern extract_book_recommendations'
alias extract_business_ideas='fabric --pattern extract_business_ideas'
alias extract_controversial_ideas='fabric --pattern extract_controversial_ideas'
alias extract_core_message='fabric --pattern extract_core_message'
alias extract_ctf_writeup='fabric --pattern extract_ctf_writeup'
alias extract_domains='fabric --pattern extract_domains'
alias extract_extraordinary_claims='fabric --pattern extract_extraordinary_claims'
alias extract_ideas='fabric --pattern extract_ideas'
alias extract_insights='fabric --pattern extract_insights'
alias extract_insights_dm='fabric --pattern extract_insights_dm'
alias extract_instructions='fabric --pattern extract_instructions'
alias extract_jokes='fabric --pattern extract_jokes'
alias extract_latest_video='fabric --pattern extract_latest_video'
alias extract_main_idea='fabric --pattern extract_main_idea'
alias extract_most_redeeming_thing='fabric --pattern extract_most_redeeming_thing'
alias extract_patterns='fabric --pattern extract_patterns'
alias extract_poc='fabric --pattern extract_poc'
alias extract_predictions='fabric --pattern extract_predictions'
alias extract_primary_problem='fabric --pattern extract_primary_problem'
alias extract_primary_solution='fabric --pattern extract_primary_solution'
alias extract_product_features='fabric --pattern extract_product_features'
alias extract_questions='fabric --pattern extract_questions'
alias extract_recipe='fabric --pattern extract_recipe'
alias extract_recommendations='fabric --pattern extract_recommendations'
alias extract_references='fabric --pattern extract_references'
alias extract_skills='fabric --pattern extract_skills'
alias extract_song_meaning='fabric --pattern extract_song_meaning'
alias extract_sponsors='fabric --pattern extract_sponsors'
alias extract_videoid='fabric --pattern extract_videoid'
alias extract_wisdom='fabric --pattern extract_wisdom'
alias extract_wisdom_agents='fabric --pattern extract_wisdom_agents'
alias extract_wisdom_dm='fabric --pattern extract_wisdom_dm'
alias extract_wisdom_nometa='fabric --pattern extract_wisdom_nometa'
alias find_hidden_message='fabric --pattern find_hidden_message'
alias find_logical_fallacies='fabric --pattern find_logical_fallacies'
alias get_wow_per_minute='fabric --pattern get_wow_per_minute'
alias get_youtube_rss='fabric --pattern get_youtube_rss'
alias humanize='fabric --pattern humanize'
alias identify_dsrp_distinctions='fabric --pattern identify_dsrp_distinctions'
alias identify_dsrp_perspectives='fabric --pattern identify_dsrp_perspectives'
alias identify_dsrp_relationships='fabric --pattern identify_dsrp_relationships'
alias identify_dsrp_systems='fabric --pattern identify_dsrp_systems'
alias identify_job_stories='fabric --pattern identify_job_stories'
alias improve_academic_writing='fabric --pattern improve_academic_writing'
alias improve_prompt='fabric --pattern improve_prompt'
alias improve_report_finding='fabric --pattern improve_report_finding'
alias improve_writing='fabric --pattern improve_writing'
alias judge_output='fabric --pattern judge_output'
alias label_and_rate='fabric --pattern label_and_rate'
alias loaded='fabric --pattern loaded'
alias md_callout='fabric --pattern md_callout'
alias official_pattern_template='fabric --pattern official_pattern_template'
alias pattern_explanations.md='fabric --pattern pattern_explanations.md'
alias prepare_7s_strategy='fabric --pattern prepare_7s_strategy'
alias provide_guidance='fabric --pattern provide_guidance'
alias rate_ai_response='fabric --pattern rate_ai_response'
alias rate_ai_result='fabric --pattern rate_ai_result'
alias rate_content='fabric --pattern rate_content'
alias rate_value='fabric --pattern rate_value'
alias raw_query='fabric --pattern raw_query'
alias raycast='fabric --pattern raycast'
alias recommend_artists='fabric --pattern recommend_artists'
alias recommend_pipeline_upgrades='fabric --pattern recommend_pipeline_upgrades'
alias recommend_talkpanel_topics='fabric --pattern recommend_talkpanel_topics'
alias refine_design_document='fabric --pattern refine_design_document'
alias review_design='fabric --pattern review_design'
alias sanitize_broken_html_to_markdown='fabric --pattern sanitize_broken_html_to_markdown'
alias show_fabric_options_markmap='fabric --pattern show_fabric_options_markmap'
alias solve_with_cot='fabric --pattern solve_with_cot'
alias suggest_pattern='fabric --pattern suggest_pattern'
alias summarize='fabric --pattern summarize'
alias summarize_debate='fabric --pattern summarize_debate'
alias summarize_git_changes='fabric --pattern summarize_git_changes'
alias summarize_git_diff='fabric --pattern summarize_git_diff'
alias summarize_lecture='fabric --pattern summarize_lecture'
alias summarize_legislation='fabric --pattern summarize_legislation'
alias summarize_meeting='fabric --pattern summarize_meeting'
alias summarize_micro='fabric --pattern summarize_micro'
alias summarize_newsletter='fabric --pattern summarize_newsletter'
alias summarize_paper='fabric --pattern summarize_paper'
alias summarize_prompt='fabric --pattern summarize_prompt'
alias summarize_pull-requests='fabric --pattern summarize_pull-requests'
alias summarize_rpg_session='fabric --pattern summarize_rpg_session'
alias t_analyze_challenge_handling='fabric --pattern t_analyze_challenge_handling'
alias t_check_metrics='fabric --pattern t_check_metrics'
alias t_create_h3_career='fabric --pattern t_create_h3_career'
alias t_create_opening_sentences='fabric --pattern t_create_opening_sentences'
alias t_describe_life_outlook='fabric --pattern t_describe_life_outlook'
alias t_extract_intro_sentences='fabric --pattern t_extract_intro_sentences'
alias t_extract_panel_topics='fabric --pattern t_extract_panel_topics'
alias t_find_blindspots='fabric --pattern t_find_blindspots'
alias t_find_negative_thinking='fabric --pattern t_find_negative_thinking'
alias t_find_neglected_goals='fabric --pattern t_find_neglected_goals'
alias t_give_encouragement='fabric --pattern t_give_encouragement'
alias to_flashcards='fabric --pattern to_flashcards'
alias transcribe_minutes='fabric --pattern transcribe_minutes'
alias translate='fabric --pattern translate'
alias t_red_team_thinking='fabric --pattern t_red_team_thinking'
alias t_threat_model_plans='fabric --pattern t_threat_model_plans'
alias t_visualize_mission_goals_projects='fabric --pattern t_visualize_mission_goals_projects'
alias tweet='fabric --pattern tweet'
alias t_year_in_review='fabric --pattern t_year_in_review'
alias write_essay='fabric --pattern write_essay'
alias write_hackerone_report='fabric --pattern write_hackerone_report'
alias write_latex='fabric --pattern write_latex'
alias write_micro_essay='fabric --pattern write_micro_essay'
alias write_nuclei_template_rule='fabric --pattern write_nuclei_template_rule'
alias write_pull-request='fabric --pattern write_pull-request'
alias write_semgrep_rule='fabric --pattern write_semgrep_rule'
alias youtube_summary='fabric --pattern youtube_summary'
