.obsidian
.smtcmp_chat_histories
.smtcmp_vector_db.tar.gz
notebookLM/**
_fabric/
INC**
WIP
.trash/

*.mkv
*.mp4
*.mp3
*.m4a
*.wav
*.ogg
*.png
*.jpeg
*.jpg
*.pdf

# Ignore Smart Environment folder
/.smart-env/

_assets/gemini-scribe/
_FileOrganizer2000/Backups/
.qodo
.smtcmp_json_db/
_FileOrganizer2000/
/.smtcmp_chat_histories/

/_gemini-scribe/
/_notemd/
# Ignore Smart Environment folder
.smart-env
/_tangent/




# Ignore Smart Environment folder
.smart-env

**/.space/

*.mdc

_cannolicollege/

.google_sheets_tagging/

.makemd/
.codemap/
_voicenotes/
_transcripts/
_textgenerator/
_tagger/
_smart-templates/
_cannolicollege/
_bmo/
_archive/
.gstack/

**/.venv/*
**/node_modules/*
**/dist/*
