"*":
  "atom-beautify":
    executables:
      rubocop:
        path: "/home/b08x/.rvm/rubies/ruby-2.7.2/bin/rubocop"
  core:
    disabledPackages: [
      "icon-fonts"
      "atom-autocomplete-caomei"
      "svg-preview"
    ]
    projectHome: "/home/b08x/Workspace"
    telemetryConsent: "limited"
  editor:
    fontFamily: "Hack Nerd Font"
    fontSize: 16
  "exception-reporting":
    userId: "3a7cc88a-53a6-48a4-b582-087b5822afbd"
  "file-types":
    "**/.config.d/*": "source.shell"
    "**/.config/sway/**": "source.shell"
    "*.cfg": "source.shell"
    "*.conf": "source.shell"
    "*.j2": "source.ansible-advanced"
    "*.rules": "source.shell"
    "*.yml": "source.ansible-advanced"
    "*config": "source.shell"
    ".zsh*": "source.shell"
  "open-terminal-here":
    command: "terminator -T \"atom\""
  "ruby-solargraph":
    commandPath: "/home/b08x/.rvm/rubies/ruby-2.7.2/bin/solargraph"
  welcome:
    showOnStartup: false
