".source.ruby":
  "commandEr":
    "prefix": "command"
    "body": """
    command :start do |cmd|
      cmd.syntax = $1
      cmd.description = $2
      cmd.option $3
      cmd.action do |args, options|
        $4
      end
    end
    """
".source.ansible-advanced":
  "pamacInstall":
    "prefix": "pamac"
    "body": """
    - name: install $1
      shell: "pamac install --no-confirm {{item}}"
      with_items:
        - $2
      register: command_result
      failed_when: command_result.rc != 0
      changed_when: "'installing' in command_result.stdout"
      become: True
      become_user: "{{ user.name }}"
      tags: [$3]
      """
  "pushTemplate":
    "prefix": "templ"
    "body": """
    - name: push $1
      template: >
        src=etc/$2
        dest=$3
        mode=0644
        owner=0
        group=0
        backup=yes
      tags: [$4]
      """
  "pushCopy":
    "prefix": "copy"
    "body": """
    - name: push $1
      copy:
        src: etc/$2/
        dest: /etc/$3
        directory_mode: yes
        owner: root
        group: root
        mode: '0644'
        backup: yes
      tags: [$4]
      """
  "stat":
    "prefix": "stat"
    "body": """
      - name: check if file and/or directory exists
        stat: $1
        register: hazifile
        """
  "systemDEEE":
    "prefix": "systemctl"
    "body": """
      - name: enable and/or start $1
        systemd: enabled=yes state=started daemon_reload=yes name=$2
        """
  "shellIt":
    "prefix": "shell"
    "body": """
      - name: run this script
        shell: $2 --arg
        args:
          chdir: $3
          executable: /bin/bash
        become: yes
        become_user: {{ unix_admin.name }}
        ignore_errors: True
        """
  "gitClone":
    "prefix": "gclone"
    "body": """
      - name: clone a repo
        git: >
          repo=$1
          dest=$2
          accept_hostkey=yes
          clone=yes
          update=yes
          force=yes
        become: yes
        become_user: {{ unix_admin.name }}
        """
  "makeDir":
    "prefix": "mkdir"
    "body": """
      - name: create a directory folder
        file:
          path: $1
          state: directory
          mode: $3
          owner: $4
          group: $5
        register: $6
        """
