.theme-one-dark-ui {
  atom-text-editor {
    background-color: hsla(0, 4%, 9%, 0.75);
  }
  .tab-bar {
    font-family: Hack;
    font-size: 12px;
  }
  .tree-view {
    background-color: hsla(36, 12%, 8%, 0.57);
    color: #ff0082;
    font-size: 12px;
  }
  .status-bar {
    font-family: Hack;
    font-size: 12px;
    line-height: 2em;
    height: 2em;
  }
}
