.theme-one-dark-ui {
  atom-text-editor {
    background-color: hsla(0, 0%, 0%, 1);
  }
  .tab-bar {
    background-color: hsla(0, 0%, 0%, 1);
    font-family: Hack Nerd Font;
    font-size: 14px;
  }
  .tree-view {
    background-color: hsla(0, 0%, 0%, 1);
    font-family: Hack Nerd Font;
    color: #ff0082;
    font-size: 14px;
  }
  .status-bar {
    background-color: hsla(0, 0%, 0%, 1);
    font-family: Hack Nerd Font;
    font-size: 12px;
    line-height: 2em;
    height: 2em;
  }
}
